@import "../colors";

.modal {
  background: $bg-color;
  padding: 40px 2.3% 30px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  min-height: 257px;
  min-width: 300px;
  width: 80%;
  max-width: 340px;
  display: none;

  &.show {
    display: block;
  }

  &__title {
    color: $text-main-color;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 50px;
    text-align: center;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;

    .btn {
      margin: 0;
      margin-bottom: 13px;
    }
  }

  &__upload {
    &-label {
      cursor: pointer;
      color: $marker-color;
      display: block;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      text-decoration-line: underline;
      margin-bottom: 42px;
    }

    &-input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      position: absolute;
      z-index: -1;
    }

    &-error {
      font-size: 15px;
      line-height: 20px;
      color: $text-highlight-color;
    }
  }
}
