@import "../../styles/colors";

.btn {
  background: $marker-color;
  border-radius: 8px;
  margin: 0 auto;
  cursor: pointer;
  font-size: 13px;
  line-height: 13px;
  padding: 12px;
  border: none;
  color: $input-color;
  max-width: 280px;
  width: 100%;

  &-link {
    color: $marker-color;
    text-decoration: none;
    display: block;
    border: none;
    background: transparent;
    margin: 0 auto;
    cursor: pointer;

    &--highlight {
      color: $text-highlight-color;
    }
  }
}
