@import "../../../styles/colors";

.chat-open {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 100vh;
  scrollbar-width: none;
  flex: 3.15;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  &-interlocutor {
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;
    padding-bottom: 10px;

    &__avatar {
      max-width: 47px;
      min-width: 47px;
      min-height: 47px;
      max-height: 47px;
      border-radius: 50%;
      background: $input-color;
      margin-right: 10px;

      img {
        width: 100%;
      }
    }

    &__name {
      font-weight: 600;
      font-size: 13px;
      line-height: 13px;
      color: $text-main-color;
    }
  }

  &__container {
    margin-top: auto;
  }

  &-actions {
    margin-left: auto;
    position: relative;

    &__btn {
      background: transparent;
      cursor: pointer;
      border: none;
      color: $text-main-color;
      width: 30px;
      height: 15px;
      position: relative;
      padding: 0;

      &::after {
        content: "";
        cursor: pointer;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 10;
      }
    }

    &__dot {
      background: $text-main-color;
      width: 3px;
      height: 3px;
      display: block;
      border-radius: 50%;
      position: relative;
      margin: 0 auto;
    }
  }

  &__message-date {
    font-size: 12px;
    line-height: 12px;
    color: $text-second-color;
    text-align: center;
    margin: 30px 0;
  }

  &-send {
    display: flex;
    border-top: 1px solid $border-color;
    padding-top: 10px;
    margin-top: 30px;
    position: relative;

    div:first-child {
      width: 100%;
    }

    &__attachment {
      background-image: url("../../../assets/icons/add.svg");
      background-position: center center;
      background-color: #ffffff;
      cursor: pointer;
      border: none;
      max-width: 280px;
      width: 32px;
      height: 32px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
    }

    &__field.input {
      width: 100%;
      background: $input-color;
      border-radius: 30px;
      font-size: 12px;
      line-height: 12px;
      color: $text-main-color;
      padding: 8px 20px;
      border: none;
      outline-style: none;
      margin-bottom: 0;

      &::placeholder {
        color: $text-second-color;
      }

      &-wrapper {
        width: 100%;
        margin: 0;
      }
    }

    &__btn.btn-link {
      cursor: pointer;
      border: none;
      padding: 0;
      min-width: 28px;
      min-height: 28px;
      max-height: 28px;
      max-width: 28px;
      background: $marker-color;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      margin-top: 8px;
      position: relative;

      &-img {
        transform: rotate(180deg);
      }
    }
  }

  &__popover {
      background: $bg-color;
      position: absolute;
      padding: 10px 0;
      box-shadow: 0 0 6px rgb(0 0 0 / 14%);
      border-radius: 12px;
      z-index: 10;
      display: block;

      &--top-right {
        right: 0;
        top: 50px;
      }

      &--bottom-left {
        left: 0;
        bottom: 50px;
      }

    &.hidden {
      display: none;
    }

    &-item.btn-link {
      font-size: 12px;
      line-height: 14px;
      display: flex;
      align-items: center;
      padding: 8px 15px;
      text-decoration: none;
      color: $text-main-color;
      white-space: nowrap;
      position: relative;

      img {
        margin-right: 15px;
      }

      &::after {
        content: "";
        cursor: pointer;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 10;
      }
    }
  }
}
