@font-face {
  font-family: Inter;
  src:
    local(""),
    url("../fonts/Inter-Regular.woff2") format("font-woff2"),
    url("../fonts/Inter-Regular.woff") format("font-woff");
  font-style: normal;
  font-weight: 500;
}
