@import "./components/chat-sidebar";
@import "./components/chat-item";
@import "./components/message";
@import "./components/popover";
@import "./components/modal";
@import "./components/input";
@import "./components/btn";
@import "./components/link";
@import "./components/overlay";

.chat {
  display: flex;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  &-item {
    $block: &;
    margin: 2px 10px;
    border-bottom: 1px solid $border-color;
    display: flex;
    padding: 10px 0;
    cursor: pointer;
    position: relative;

    &--current {
      margin: 2px 0;
      padding: 10px;
      background: $my-message-color;
      position: relative;
      border-bottom: none;

      &::after {
        position: absolute;
        content: "";
        border-bottom: 1px solid $border-color;
        width: 90%;
        transform: translateX(-50%);
        bottom: -3px;
        left: 50%;
      }

      #{$block}__time {
        right: 10px;
      }
    }

    &__avatar {
      max-width: 47px;
      min-width: 47px;
      min-height: 47px;
      max-height: 47px;
      border-radius: 50%;
      background: $input-color;
      margin-right: 10px;
    }

    &__text {
      display: flex;
      flex-direction: column;
    }

    &__name {
      color: $text-main-color;
      font-weight: 600;
      font-size: 13px;
      line-height: 13px;
      margin: 0 0 4px 0;
    }

    &__message {
      font-size: 12px;
      line-height: 15px;
      color: $text-second-color;
      margin: 0;
      width: 83%;
    }

    &__time {
      font-size: 9px;
      line-height: 13px;
      color: $text-second-color;
      position: absolute;
      top: 10px;
      right: 0;
    }
  }
}
