$bg-color: #ffffff;
$text-main-color: #1e1e1e;
$text-second-color: #5f5f5f;
$text-highlight-color: #d32b42;
$marker-color: #4d2c91;
$overlay-color: #00000040;
$input-color: #efefef;
$border-color: #eaeaea;
$text-button-color: #ffffff;
$my-message-color: #f7f5ff;
$you-message-color: #f8f8f8;
$panel-color: #c4c2d3;
$selected-chat-color: #f7f5ff;
