@font-face {
  font-family: "Inter";
  src: local(''),
    url("../assets/fonts/Inter-Regular.woff2") format("font-woff2"),
    url("../assets/fonts/Inter-Regular.woff") format("font-woff");
  font-style: normal;
  font-weight: 500;
}
