@import "colors";
@import "components/btn";
@import "components/link";
@import "components/modal";

.profile {
  display: flex;

  &-sidebar {
    background: $panel-color;
    height: 100vh;
    display: flex;
    width: 64px;

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    &__img {
      &-wrapper {
        width: 28px;
        height: 28px;
        background: $marker-color;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &-info {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 153px 0;
  }

  &-table {
    width: 100%;
    max-width: 510px;
    padding: 15px;

    &__label,
    &__value {
      border: none;
      border-bottom: 1px solid $border-color;
      font-size: 13px;
      line-height: 13px;
      padding: 10px 0;
      color: $text-main-color;
      width: 50%;
    }

    &__input,
    &__value {
      text-align: end;
      width: 100%;
      color: $text-second-color;
    }

    &__input {
      border: none;
    }
  }

  &-actions {
    width: 100%;
    max-width: 510px;
    margin-top: 40px;
  }

  &-avatar {
    position: relative;
    cursor: pointer;

    &__overlay {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      background: $overlay-color;
      position: absolute;
      justify-content: center;
      align-items: center;
      color: $text-button-color;
      font-size: 13px;
      line-height: 14px;
      display: flex;

      &-label {
        width: 50%;
        text-align: center;
      }

      &-input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        position: absolute;
        z-index: -10;
      }

      &-show {
        display: flex;
      }
    }

    &__photo {
      &-wrapper {
        width: 130px;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: $input-color;
      }
    }
  }

  &-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: $text-main-color;
    margin: 60px 0 21px 0;
  }
}