<ul>
    <li>
        <a href="auth-page.hbs">Авторизация</a>
    </li>
    <li>
        <a href="registration-page.hbs">Регистрация</a>
    </li>
    <li>
        <a href="chat-page.hbs">Чат</a>
    </li>
    <li>
        <a href="profile-overview.hbs">Профиль</a>
    </li>
    <li>
        <a href="profile-password.hbs">Настройки пользователя (изменить пароль)</a>
    </li>
    <li>
        <a href="profile-edit.hbs">Настройки пользователя (изменить данные)</a>
    </li>
    <li>
        <a href="404.hbs">Страница 404</a>
    </li>
    <li>
        <a href="500.hbs">Страница 5**</a>
    </li>
</ul>
