---
title: Редактирование профиля
styles: ../styles/profile.scss
className: profile
rows:
  -
    label: Почта
    value: pochta@yandex.ru
    edit: true
    inputID: email
  -
    label: Логин
    value: ivanivanov
    edit: true
    inputID: login
  -
    label: Имя
    value: Иван
    edit: true
    inputID: first_name
  -
    label: Фамилия
    value: Иванов
    edit: true
    inputID: second_name
  -
    label: Имя в чате
    value: Иван
    edit: true
    inputID: display_name
  -
    label: Телефон
    value: +7(909)9673030
    edit: true
    inputID: phone
btnText: Сохранить
inputAvatarId: avatar
editAvatar: false
---

{{#extend "profile"}}
    {{#content "profileBlock"}}
        <div class="profile-avatar">
            {{> profile-avatar}}
        </div>
      {{> profile-table}}
      {{> btn}}
    {{/content}}
{{/extend}}
