---
title: Изменить пароль
styles: ../styles/profile.scss
className: profile
rows:
  -
    label: Старый пароль
    value: "********"
    edit: true
    inputID: oldPassword
    inputType: password
  -
    label: Новый пароль
    value: "********"
    edit: true
    inputID: newPassword
    inputType: password
  -
    label: Повторите новый пароль
    value: "********"
    edit: true
    inputID: compare-newPassword
    inputType: password
btnText: Сохранить
inputAvatarId: avatar
editAvatar: false
---

{{#extend "profile"}}
    {{#content "profileBlock"}}
        <div class="profile-avatar">
            {{> profile-avatar}}
        </div>
      {{> profile-table}}
      {{> btn}}
    {{/content}}
{{/extend}}
