@import "../../styles/colors";

.modal {
  background: $bg-color;
  padding: 40px 2.3% 30px;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  border-radius: 12px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  min-height: 257px;
  min-width: 300px;
  width: 80%;
  max-width: 340px;

  &.show {
    display: block;
  }

  &.hidden {
    display: none;
  }

  &__title {
    color: $text-main-color;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 50px;
    text-align: center;
  }

  &__btn {
    background: $marker-color;
    border-radius: 8px;
    margin: 0;
    margin-bottom: 13px;
    cursor: pointer;
    font-size: 13px;
    line-height: 13px;
    padding: 12px;
    border: none;
    color: $input-color;
    max-width: 280px;
    width: 100%;
    margin-top: 25px;
  }

  &-input {
    width: 100%;
    border: none;
    background-color: $bg-color;
    color: $text-main-color;
    border-bottom: 1px solid $marker-color;
    font-size: 13px;
    line-height: 13px;
    box-sizing: border-box;
    padding: 0 0 5px;
    margin-bottom: 7px;

    &__wrapper {
      margin: 7px 0;
      position: relative;
    }

    &__label {
      color: $text-second-color;
      font-size: 9px;
      line-height: 9px;
      margin-bottom: 5px;
      display: block;

      &--upload-avatar {
        cursor: pointer;
        color: $marker-color;
        display: block;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        text-decoration-line: underline;
        margin-bottom: 42px;
        position: absolute;
      }
    }

    &--upload-avatar {
      color: transparent;
      cursor: pointer;
      opacity: 0;
    }
  }

  &__error {
    font-size: 15px;
    line-height: 20px;
    color: $text-highlight-color;
  }

  &__link {
    color: $marker-color;
    text-decoration: none;
    display: block;
    text-align: center;
  }
}
