{{#extend "document"}}
    {{#content "content"}}
        <div class="error-page">
            <h1 class="error-page__code">{{this.errorCode}}</h1>
            <p class="error-page__text">{{this.errorText}}</p>
            {{> link}}
        </div>
    {{/content}}
{{/extend}}
