{{#extend "document"}}
    {{#content "content"}}
        <div class="panel login__panel">
            <h1 class="title">{{title}}</h1>
            <form>
                {{#each inputs}}
                    {{> input this}}
                {{/each}}

                <div class="login__btns">
                    {{> btn}}
                    {{> link}}
                </div>
            </form>
        </div>
    {{/content}}
{{/extend}}