{{#extend "document"}}
  {{#content "content"}}
    <div class="profile-sidebar">
      <a class="profile-sidebar__link" href="./chat-page.hbs">
        <div class="profile-sidebar__img-wrapper">
          <img
            class="profile-sidebar__img"
            src="../assets/icons/arrow-back.svg"
            alt="Вернуться к чатам"
          />
        </div>
      </a>
    </div>
    <div class="profile-info">
      {{{block "profileBlock"}}}
    </div>
  {{/content}}
{{/extend}}