@import "../../../styles/colors";


.profile-overview {
  display: flex;

  &__actions {
    width: 100%;
    max-width: 510px;

    &__link {
      color: $marker-color;
      text-decoration: none;
      display: block;
      width: 100%;
      border: none;
      padding: 8px 0;
      font-size: 13px;
      line-height: 13px;
      border-bottom: 1px solid #eaeaea;

      &--highlight {
        color: $text-highlight-color;
        border-bottom: none;
      }
    }
  }

  &__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: $text-main-color;
    margin: 0;
    margin-bottom: 20px;
  }
}
